 <header class="container-fluid header">
            <div class="row mb-3">
              <!--   <div class="col-auto align-self-center">
                    <button type="button" class="btn btn-link menu-btn text-color-theme">
                        <i class="bi bi-list size-24"></i>
                    </button>
                </div> -->
                <div class="col text-center">
                    <div class="logo-small">
                        <img src="https://www.frutmesuper.com/assets/assetssuper/images/logo.png" alt="" class="img">
                       
                    </div>
                </div>
                <!-- <div class="col-auto align-self-center">
                    <a href="profile.html" class="link text-color-theme">
                        <i class="bi bi-person-circle size-22"></i>
                    </a>
                </div> -->
            </div>
        </header>